/* Start General Rules */
h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

body {
  background-color: #dddddd;
  font-size: 16px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
}

.astrisk {
  position: absolute;
  right: 50%;
  top: 25%;
  color: #d20707;
}

.input-group input:last-child,
.input-group select:last-child {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}

h5,
label.form-label:not(.insta-labels) {
  margin-bottom: 0 !important;
}

/* End Main Rules */
/* ==================== */
/* Start login Form */
div.login-bg {
  height: 100vh;
  margin-bottom: -40px;
}

.login {
  width: 50%;
  position: relative;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: 1023px) {
  .login {
    width: 90%;
  }
}

.login input {
  margin-bottom: 10px;
}

.login .form-group {
  background-color: #eaeaea;
}

.login .btn {
  background-color: #008dde;
  width: 100%;
}
/* End login Form */
/* ==================== */
/* Start navbar */
.navbar-brand img {
  height: 70px;
}

.collapse li a {
  font-size: 18px;
}

.dropdown > a:focus,
.dropdown > a:hover,
.dropdown-menu {
  background-color: #3498db;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.dropdown-menu a {
  color: black;
  transition: linear 0.3s;
}

.dropdown-divider {
  margin: 0;
}

.dropdown-menu a:hover {
  color: inherit;
  padding-left: calc(var(--bs-dropdown-item-padding-x) + 5px);
}

.navbar-collapse.collapse {
  position: relative;
}

.navbar-collapse.collapse.show ul {
  position: relative;
}

form div.form-group {
  position: relative;
}
li.settings.about {
  position: relative;
}

li.settings.about::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2.5px solid #eee;
  height: 5px;
  width: 5px;
  top: 0;
}
/* End navbar */
/* ==================== */
/* Start User Page */
form.userAdd {
  background-color: #b6b6b670;
}

.edit-app-user span,
form.userAdd span {
  width: 175px;
}

form.userAdd .col-6 {
  position: relative;
}

form.userAdd .astrisk {
  right: 85%;
}

form.userAdd input[type="submit"] {
  height: 6rem;
}

@media (max-width: 991px) {
  form.userAdd input[type="submit"] {
    height: auto;
  }
  .edit-app-user span,
  .edit-app-user input,
  .edit-app-user .input-group select {
    width: 100% !important;
  }
  .edit-app-user .input-group span:first-of-type {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: 0 !important;
  }
  .edit-app-user .input-group input,
  .edit-app-user .input-group select {
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-top-left-radius: 0 !important;
  }
}

/* End User Page */
/* ==================== */
/* Start Cats Page */
.catAdd {
  background-color: #b6b6b6;
  display: none;
}

.catAdd.active {
  display: block;
}

.catAdd .col-5 {
  position: relative;
}

.catAdd .col-5 .astrisk {
  right: 100%;
}

@media (max-width: 767px) {
  .catEdit .input-group {
    width: 100% !important;
  }
  .catEdit .input-group span:first-of-type {
    border-bottom-right-radius: 0 !important;
    width: 50% !important;
  }
  .catEdit .input-group span:nth-of-type(2) {
    border-top-left-radius: var(--bs-border-radius) !important;
    width: 50% !important;
  }
  .catEdit .input-group span:nth-of-type(3) {
    border-bottom-right-radius: var(--bs-border-radius) !important;
    width: 50% !important;
  }
  .catEdit .input-group input:last-of-type {
    border-top-left-radius: 0 !important;
    width: 50% !important;
  }
}

@media (max-width: 365px) {
  .catEdit .input-group span,
  .catEdit .input-group span:nth-of-type(2) h5 {
    font-size: small;
  }
  .catEdit .input-group:not(:last-of-type) span,
  .catEdit .input-group:not(:last-of-type) input {
    padding-right: 10px !important;
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .catEdit .input-group {
    width: 100% !important;
  }
}
/* End Cats Page */
/* ==================== */
/* Start Subcats Page */
.newSubcatForm {
  background-color: #b6b6b6;
  display: none;
}
.newSubcatForm.active {
  display: block;
}

.newSubcatForm .col-3 .astrisk {
  right: 98%;
}

@media (max-width: 991px) {
  .newSubcatForm input,
  .newSubcatForm select,
  .newSubcatForm span {
    width: 100% !important;
  }
  .newSubcatForm span {
    justify-content: center !important;
  }
  .newSubcatForm span:first-of-type {
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  .newSubcatForm button:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
}

.subCat,
.mainCat {
  cursor: pointer;
  position: relative;
}

.subCat.asc::after,
.mainCat.asc::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(16px, -50%);
  border: 7px solid;
  border-color: transparent transparent black transparent;
}
.subCat.desc::after,
.mainCat.desc::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(16px);
  border: 7px solid;
  border-color: black transparent transparent transparent;
}

.editSubcatlabel {
  width: 192px;
}

@media (min-width: 991px) {
  .editSubCat .input-group {
    width: 75% !important;
  }
}

/* End Subcats Page */
/* ==================== */
/* Start Items Page */
form.item,
form.quantity {
  background-color: #b6b6b6;
}

@media (min-width: 992px) {
  .searchForm select:first-of-type {
    width: 140px !important;
  }

  .searchForm select:nth-of-type(2) {
    width: 170px !important;
  }
}

@media (max-width: 991px) {
  .searchForm span,
  .searchForm select,
  .searchForm input {
    width: 100% !important;
    justify-content: center;
    text-align: center;
  }
  .searchForm span:first-of-type {
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  .searchForm input:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
  .itemsTable2 th,
  .itemsTable2 td {
    padding-right: 0;
    padding-left: 0;
  }
}

form.quantity .astrisk {
  display: none;
}

form.quantity span.input-group-text {
  width: 116px;
  justify-content: center;
}

.codes,
.names,
.cats,
.subcats,
.catcodes,
.catnames,
.catsubcats {
  position: relative;
  cursor: pointer;
}

.codeASC::after,
.nameASC::after,
.catASC::after,
.subcatASC::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-5px, -50%);
  border: 7px solid;
  border-color: transparent transparent black transparent;
  z-index: 1000;
}

.codeDESC::after,
.nameDESC::after,
.catDESC::after,
.subcatDESC::after {
  content: "";
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-5px);
  border: 7px solid;
  border-color: black transparent transparent transparent;
}
.catASC::after {
  transform: translate(5px, -50%);
}
.catDESC::after {
  transform: translateX(5px);
}
.nameASC::after {
  transform: translate(30px, -50%);
}
.nameDESC::after {
  transform: translateX(30px);
}

.editItemForm span {
  width: 245px;
  justify-content: center;
}

.editItemForm #cat {
  width: 56.5px;
}

.addItemForm span {
  min-width: 115px;
  justify-content: center;
}

@media (min-width: 767px) {
  .item-details-header .backBtn {
    width: 16.666666% !important;
  }
}
@media (max-width: 767px) {
  .codeASC::after,
  .nameASC::after,
  .catASC::after,
  .subcatASC::after,
  .codeDESC::after,
  .nameDESC::after,
  .catDESC::after,
  .subcatDESC::after {
    border-width: 4px;
    top: 25%;
    transform: translateX(10%);
  }
  .editItemForm .input-group span,
  .editItemForm .input-group select,
  .editItemForm .input-group input,
  .addItemForm .input-group span,
  .addItemForm .input-group select,
  .addItemForm .input-group input,
  .quantity .input-group span,
  .quantity .input-group select,
  .quantity .input-group input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .editItemForm .input-group span:first-of-type,
  .quantity .input-group span:first-of-type,
  .addItemForm .input-group span:first-of-type {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: 0 !important;
  }
  .editItemForm .input-group select:last-of-type,
  .editItemForm .input-group input:last-of-type,
  .quantity .input-group select:last-of-type,
  .quantity .input-group input:last-of-type,
  .addItemForm .input-group select:last-of-type,
  .addItemForm .input-group input:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
  .addItemForm .input-group {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .editItemForm .input-group {
    width: 100% !important;
  }
  .editItemForm .input-group span,
  .editItemForm .input-group select,
  .editItemForm .input-group input,
  .addItemForm .input-group span,
  .addItemForm .input-group select,
  .addItemForm .input-group input,
  .quantity .input-group span,
  .quantity .input-group select,
  .quantity .input-group input {
    width: 50% !important;
    margin-left: 0 !important;
  }
  .editItemForm .input-group span:first-of-type,
  .quantity .input-group span:first-of-type,
  .addItemForm .input-group span:first-of-type {
    border-bottom-right-radius: 0 !important;
  }
  .editItemForm .input-group select:last-of-type,
  .editItemForm .input-group input:last-of-type,
  .quantity .input-group select:last-of-type,
  .quantity .input-group input:last-of-type,
  .addItemForm .input-group select:last-of-type,
  .addItemForm .input-group input:last-of-type {
    border-top-left-radius: 0 !important;
  }
  .editItemForm .input-group span:nth-child(2),
  .editItemForm .input-group select:nth-child(2),
  .editItemForm .input-group input:nth-child(2),
  .quantity .input-group span:nth-child(2),
  .quantity .input-group input:nth-child(2),
  .quantity .input-group select:nth-child(2),
  .addItemForm .input-group span:nth-child(2),
  .addItemForm .input-group input:nth-child(2),
  .addItemForm .input-group select:nth-child(2) {
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  .editItemForm .input-group span:nth-last-child(2),
  .quantity .input-group span:nth-last-child(2),
  .addItemForm .input-group span:nth-last-child(2) {
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
}
/* End Items Page */
/* ==================== */
/* Start Records Page */
.new-record-form,
.new-user-form,
.receive {
  display: none;
}

@media (min-width: 768px) {
  .new-user-form {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .new-user-form {
    width: 50% !important;
  }
}

.inputSpan {
  width: 116px;
}

.new-user-form.active,
.new-record-form.active {
  background-color: #ddd;
  display: block;
}

.receive.active {
  display: flex;
}
.new-user-form.active .astrisk {
  display: none;
}

.new-record-form .astrisk {
  display: none;
}

.form {
  background-color: #b6b6b6;
}

@media (max-width: 767px) {
  .recordsTableToday *,
  .oldRecordsTable * {
    padding: 0 !important;
  }

  .recordsTableToday th,
  .oldRecordsTable th {
    padding-bottom: 4px !important;
  }

  .recordsTableToday span.returnItem,
  .oldRecordsTable span.return {
    font-size: 12px;
    padding: 4px !important;
  }

  .recordsTableToday tr td:last-of-type,
  .oldRecordsTable tr td:last-of-type {
    padding: 4px !important;
  }
}

.oldRecordsTable tr td,
.oldRecordsTable tr th {
  text-align: center;
  vertical-align: middle;
}

/* End Records Page */
/* ==================== */
/* Start Installments Page */
.instaItem {
  background-color: #b6b6b6;
}

.insta-labels {
  margin-bottom: 10px !important;
}

.instaItem .row {
  align-items: center;
}

a.instaName {
  min-height: 50px;
}

@media (max-width: 767px) {
  a.instaName h3 {
    font-size: 0.9rem;
  }
}

.card-body.instaItem .col,
.card-body.instaItem .col-7 {
  position: relative;
}
.card-body.instaItem .col .astrisk,
.card-body.instaItem .col-7 .astrisk {
  right: 97%;
}

.card-body.instaItem .form-control {
  border-color: #929496;
}

.card-body.instaItem label {
  padding: 0.375rem 0.75rem;
}

tr.editM,
tr.bad {
  display: none;
}
tr.editM.active,
tr.bad.active {
  display: table-row;
}

.delItem {
  display: none;
}

.delItem.active {
  display: block;
}

tr[data-done="1"] {
  text-decoration: line-through;
}

.installments-money tr {
  vertical-align: middle;
}
/* End Installments Page */
/* ==================== */
/* Start Bills Page */
.newBillForm {
  display: none;
}
.newBillForm.active {
  display: block;
  background-color: #dddddd8e;
}

@media (max-width: 991px) {
  .newBillForm .input-group span,
  .newBillForm .input-group input,
  .newBillForm button {
    width: 100% !important;
    justify-content: center !important;
    text-align: center;
  }
  .newBillForm .input-group span:first-of-type {
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  .newBillForm .input-group button:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .newBillForm .input-group {
    width: 100% !important;
  }
}
.newBillForm .astrisk {
  right: 99%;
}
.error,
.success,
.successDel {
  display: none;
}
.error.active,
.success.active,
.successDel.active {
  display: block;
}
.dataShow hr {
  margin-top: 0;
  margin-bottom: 0;
}
.dataInfo .row.data {
  min-height: 50px;
  overflow: hidden;
}
.dataInfo .row.data .delCol {
  position: relative;
}

.dataInfo .row.data:hover {
  background-color: #eeeeee;
}

.delBill {
  position: absolute;
  transition: ease-in-out 0.4s;
  top: 50%;
  right: 140%;
  transform: translate(50%, -50%);
}
.dataInfo .row.data:hover .delBill {
  right: 50%;
}
/* End Bills Page */
/* ==================== */
/* Start Calcs Page */
h1.calcs {
  margin-top: 200px;
}

@media (max-width: 767px) {
  h1.calcs {
    margin-top: 50px;
  }
}

.options {
  margin-top: 50px;
}

.options .row {
  height: 200px;
}

@media (max-width: 767px) {
  .options {
    margin-top: 55px;
  }

  .options .row {
    height: 440px;
  }
}

.totalStore {
  width: fit-content;
}

.options .col {
  height: inherit;
  background-color: #00d2d3;
  font-size: 23px;
  font-weight: bold;
  color: #eee;
  position: relative;
  top: 0;
  transition: top ease-in-out 0.3s;
}

.options .col:hover {
  top: -20px;
}

.spendingsForm {
  background-color: #dddddd8e;
}

.spendingsForm .astrisk {
  right: 97%;
}

@media (max-width: 991px) {
  .spendingsForm span,
  .spendingsForm input,
  .spendingsForm button,
  .spendingsForm a {
    width: 100% !important;
    justify-content: center;
    text-align: center;
  }
  .spendingsForm span:first-of-type {
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  .spendingsForm a:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }
  .forth {
    width: 100px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .forth span {
    font-size: small;
  }
  .spendingsTable th,
  .spendingsTable td {
    text-align: center;
  }
}

.spendingMsg,
.spendingDelMsg {
  display: none;
}

.spendingMsg.active,
.spendingDelMsg.active {
  display: block;
}

tbody.data tr.infoData {
  min-height: 55px;
  height: 55px;
}

.forth {
  width: 300px;
  overflow: hidden;
  position: relative;
}

.data .spendingDel {
  position: absolute;
  transition: ease-in-out 0.4s;
  top: 50%;
  right: 150%;
  transform: translate(50%, -50%);
}

.data tbody tr:hover .spendingDel {
  right: 50%;
  transform: translate(50%, -50%);
}

.monthsCalcshead {
  margin-top: 100px;
}
.months .col,
.months .col-6 {
  color: #eee;
}

.months a {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #00d2d3;
  font-size: 22px;
  font-weight: bold;
}

.months a:hover,
.months a:focus {
  background-color: #00d2d3;
}

.monthsOptions .input-group {
  width: 35%;
}

@media (max-width: 767px) {
  .monthsOptions .input-group {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .monthlyCalcHeader,
  .yearlyCalcHeader {
    width: 75% !important;
  }
}

/* End Calcs Page */
/* ==================== */
